border {

    margin: 10px;
}

.box {

    width: 200px;
    height: 200px;
    background: linear-gradient(45deg, dodgerblue, yellow, tomato, lavender);
}

.box2 {

    width: 600px;
    height: 200px;
    background: radial-gradient(circle at top left, white, gold, skyblue);
}

.box3 {

    width: 700px;
    height: 200px;
    background: rgb(88,42,138);
    background: linear-gradient(274deg, rgba(88,42,138,1) 0%, rgba(236,111,24,1) 100%);
}