body {

    margin: 10px;
}

article p:first-of-type {

    font-size: 140%;
    font-style: italic;
}

article :last-child {

    font-weight: bold;
}

ul li:nth-child(3n) {

    color: deeppink;
}

a:link {

    color: black;
}

a:visited {

    color:gray;
}

a:hover, 
a:focus {

    color:rgb(197, 100, 253)
}