border {

    margin: 10px;
}

*, *::before, *::after {

    box-sizing: border-box;
}

.box::before {
    
    content: "Hello";
}

.box {

    height: 100px;
    width: 100px;
    background-color: gold;
    display: inline-block
}