<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overflowing</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="normalize" href="css/normalize.css">
</head>
<body>
    <div class="box">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam iste incidunt voluptatibus voluptatum nemo excepturi? Nam magni corrupti incidunt enim nobis provident consequuntur possimus natus minima, iure illum facere ad! Ullam impedit mollitia cumque modi consectetur quisquam unde, veniam facilis dignissimos dolor? Nisi magni dicta eos perspiciatis dolorum magnam sint!</p>
    </div>
</body>
</html>